# Google Play Store EDA

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Reading the Dataset
df=pd.read_csv('/media/uzair/New Volume/Courses/ML/EDA/Google Play Store/data/googleplaystore.csv')

In [3]:
#Generating ydata_profiling report
# profile = yd.ProfileReport(df)
# profile.to_file('/media/uzair/New Volume/Courses/ML/EDA/Google Play Store/outputs/EDA_play_store.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [6]:
#check data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
 13  Unnamed: 13     499 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 1.2+ MB

In [7]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design,Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,NaN
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,NaN
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design,Creativity,"June 20, 2018",1.1,4.4 and up

In [8]:
#to check random data
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
7544,"CM Flashlight (Compass, SOS)",TOOLS,4.4,166363,1.8M,"5,000,000+",Free,0,Everyone,Tools,"May 25, 2018",1.4.0,2.3 and up,NaN
10312,Banking Calculator,FINANCE,4.5,3704,4.6M,"100,000+",Free,0,Everyone,Finance,"March 20, 2018",34,2.3 and up,NaN
6105,"Women""s Health Tips(Breast,Face,Body,weight lose)",HEALTH_AND_FITNESS,4.2,2509,5.0M,"1,000,000+",Free,0,Mature 17+,Health & Fitness,"April 20, 2018",1.8,4.1 and up,NaN
3464,Calculator - unit converter,PRODUCTIVITY,4.7,287250,Varies with device,"50,000,000+",Free,0,Everyone,Productivity,"May 9, 2018",Varies with device,Varies with device,NaN
10424,First Hawaiian Bank Mobile,FINANCE,2.1,232,29M,"10,000+",Free,0,Everyone,Finance,"May 9, 2018",18.1.79,5.0 and up,NaN

In [9]:
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

In [14]:
df['Size'] = df['Size'].apply(lambda x: f"{float(x[:-1])/1024}{x[-1]}" if x[-1]=='K' else x[:-1] if x[-1]=='M' else x)
df['Size']

0                        19
1                        14
2                       8.7
3                        25
4                       2.8
                ...
10836                    53
10837                   3.6
10838                   9.5
10839    Varies with device
10840                    19
Name: Size, Length: 10841, dtype: object